.example-container {
  margin: 8px;
  min-width: 300px;
  display: flex;
  flex-direction: column;

}

.form-row {
  display: flex;
  flex-wrap: wrap; /* Permite que las filas se envuelvan a una nueva línea si no hay suficiente espacio */
  margin-bottom: 10px; /* Espacio entre filas */
  gap: 10px;
}

.form-field {
  width: calc(25% - 10px); /* Establece el ancho de cada campo de formulario al 25% del contenedor */
  margin-right: 10px; /* Espacio entre campos */
  flex: 1; /* Los campos de formulario ocupan el mismo ancho */
}

.hidden {
  display: none;
}

.example-element-row {
  cursor: pointer; /* Cambia puntero del mouse */
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.mat-table-container {
  overflow-x: auto; /* Agrega desplazamiento horizontal cuando el contenido excede el ancho */
}

table {
  width: 100%;
}
